#global-loader {
    position: fixed;
    z-index: 50000;
    background: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.loader-img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 43%;
    left: 0;
    margin: 0 auto;
    text-align: center;
}
.cstm-notifications {
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 100000;

    p {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 500;
    }

    .notifier {
        padding: 5px 10px;
        border-radius: 4px;
        box-shadow: -6px -4px 34px 4px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: -6px -4px 34px 4px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: -6px -4px 34px 4px rgba(0, 0, 0, 0.3);
    }

    .notify-success {
        background: #7dffbc;
    }
    .notify-danger {
        background: #ff7e7e;
    }
}

.alert-custom-fali {
    background: #232531;
    padding: 5px 10px;

    p {
        color: white;
    }

    button.btn-close {
        color: white;
    }
}
.admin-role{
    color: #7c7c7c;
    font-size: 12px;
}
.c-err {
    position: fixed;
    top: 90px;
    right: 10px;

    .alert {
        padding: 20px;
    }
}
.ntv {
    padding-top: 2px;
    font-size: 0.8rem;
    color: red;
}
.py-ph{
    padding: 0.8rem 0;
}
.dropzone .dz-preview.dz-image-preview {
    width: 50%;
}
.dropzone .dz-preview a.dz-remove {
    display: none;
}
.mapbox-container {
    width: 100%;
}

#mapbox {
    width: 100%;
    height: 250px;
}